.exerciseBtn {
    border-radius: 0px !important;
    font-size: 13px;
    margin-left: 2px;
}

.saved-true .exerciseInput {
    background: rgba(222, 255, 222, 0.897);
}

.saved-true {
    box-shadow: 0px 0px 2px rgb(0, 187, 0);
}

.sect1, .sect2, .sect3 {
    display: flex;
    width: 33.3%;
}

.sect1 .form-control,
.sect2 .form-control,
.sect3 .form-control {
    font-size: 13px !important;
}

.workoutBlock {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 520px) {
    .sect1, .sect2, .sect3 {
        display: flex;
        width: 100%;
    }

    .workoutBlock {
        flex-direction: column;
    }
}