.metric {
    border: 1px solid lightgray;
    border-right: 0px;
    font-size: 13px;
    padding: 2px;
    text-align: center;
    width: 14.28%;
}

.metric:last-child {
    border-right: 1px solid lightgray;
}

.metricTitle {
    font-weight: 700;
}

@media only screen and (max-width: 520px) {
    .metric {
        border: 1px solid lightgray;
        border-bottom: 0px;
        width: auto;
    }

    .metric:last-child {
        border-bottom: 1px solid lightgray;
    }
}