.metric {
    border: 1px solid rgb(114, 114, 114);
    border-right: 0px;
    font-size: 13px;
    overflow: scroll;
    padding: 2px;
    text-align: center;
    width: 14.28%;
}

.metric:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.metric:last-child {
    border-right: 1px solid rgb(114, 114, 114);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.metricIcon {
    border: 1px solid #727272;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 0px;
    height: auto;
    padding: 10px;
    text-align: center;
}

.metricIcon-run {
    background: #90ee90;
}

.metricIcon-bike {
    background: rgb(255, 216, 116);
}

.metricIcon-bullseye {
    background: rgb(75, 75, 75);
    color: #fff;
    padding-top: 11px;
}

.metricIcon-swim {
    background: lightblue;
}

.metricIcon-lift {
    background: rgb(255, 191, 191);
}

.metricsSectionTitle {
    margin-top: 20px;
}

.metricRow {
    background: rgb(239, 251, 255);
    height: 50px;
    margin-bottom: 2px;
}

.metricRow-gen {
    background: rgb(242, 242, 242) !important;
}

.metricTitle {
    font-size: 11px;
    font-weight: 700;
}

.metricsTitleBlock {
    width: 100%;
}

.barChartBtn {
    color: black;
    float: right;
    margin-left: 3px;
}

.shoesBtn {
    float: right;
}

.shoeList {
    margin-top: 30px;
}

.shoeInputForm {
    margin-top: 10px;
}

.shoeInputForm .form-control {
    border-radius: 0px !important;
    display: flex;
    flex-direction: row;
}

.userTotalsTitle {
    display: inline-block;
}

@media only screen and (max-width: 1200px) {
    .metricsTitleBlock {
        margin-top: 35px;
    }
}

@media only screen and (max-width: 768px) {
    .hof {
        margin-bottom: 15px;
        margin-top: -10px;
        width: 100%;
    }

    .metric {
        border: 1px solid rgb(114, 114, 114);
        border-bottom: 0px;
        width: auto;
    }

    .metric:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0px;
    }

    .metric:last-child {
        border-bottom: 1px solid rgb(114, 114, 114);
        border-right: 1px solid rgb(114, 114, 114);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 0px;
    }

    .metricIcon {
        border-right: 1px solid rgb(114, 114, 114);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .metricRow {
        height: auto;
    }
}