html {
  height: 100% !important;
  min-height: 100vh !important;
  overflow-x: hidden;
}

.appClass {
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  padding-bottom: 50px;
}

.pageContainer {
  background: rgb(242, 242, 242);
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
  height: 100%;
  min-height: 100vh;
  padding: 25px 100px;
  width: 100%;
}

.submitContainer {
  padding: 25px;
  width: 600px;
}

/* BACKGROUNDS */

      .alex {
        background-image: url("../src/images/alex.png");
      }

      .blue {
        background-image: url("../src/images/blue.png");
      }

      .brick {
        background-image: url("../src/images/brick-wall-dark.png");
      }

      .bundy {
        background-image: url("../src/images/bundy.png");
      }

      .darkGray {
        background-image: url("../src/images/darkGray.png");
      }

      .diagonal {
        background-image: url("../src/images/diagonal.png");
      }

      .floral {
        background-image: url("../src/images/arabesque.png");
      }

      .goggins {
        background-image: url("../src/images/goggins.png");
      }

      .gravel {
        background-image: url("../src/images/gravel.png");
      }

      .tiles {
        background-image: url("../src/images/batthern.png");
        /* color: white; */
      }
      
      .trump {
        background-image: url("../src/images/trump.png");
      }

      .white {
        background-image: none;
        background: #fff;
        color: black;
      }

@media only screen and (max-width: 768px) {
  .pageContainer {
    padding: 25px 10px;
    width: 500px;
  }
}

@media only screen and (max-width: 520px) {
  .pageContainer {
    padding: 15px 5px;
    width: auto;
  }
}
