.stopwatch {
    background: rgb(242, 242, 242);
    border: 1px solid darkgray;
    border-radius: 4px;
    color: black;
    margin: 10px auto;
    padding-top: 5px;
    width: 100%;
}

.stopwatchBtns {
    margin: 5px 0px;
    text-align: center;
}

.startWatchBtn,
.stopWatchBtn,
.resetWatchBtn {
    border: 1px solid black;
    margin: 5px;
}

.stopWatchBtn {
    margin-left: 0px;
    margin-right: 0px;
}

.timeString {
    font-size: 24px;
    line-height: 1.255;
    text-align: center;
}

.watch-active {
    background: rgb(102, 224, 102);
    box-shadow: 0px 0px 5px green;
}