.border-baby {
    border-right: 4px solid rgb(255, 88, 116);
}

.border-easy {
    border-right: 4px solid lightgreen;
}

.border-average {
    border-right: 4px solid rgb(255, 225, 53);
}

.border-superior {
    border-right: 4px solid orange;
}

.border-hero {
    border-right: 4px solid rgb(45, 178, 223);
}

.border-superman {
    border-right: 4px solid rgb(58, 58, 255);
}

.border-rogan {
    border-right: 4px solid rgb(131, 131, 131);
}

.border-goggins {
    border-right: 4px solid black;
}

.cell5 {
    overflow: scroll;
}

.cell5::-webkit-scrollbar {
    background: transparent;
    height: 0;
    width: 0;
}

.cell-muscleGroups {
    font-size: 11px;
}

.deleteActivity {
    float: right;
}

.liftDetails {
    font-size: 13px;
    vertical-align: middle;
}

.liftWorkout {
    margin-top: 25px;
}

.mg:not(first-child) {
    margin-right: 4px;
}