.cell5 {
    overflow: scroll;
}

.cell5::-webkit-scrollbar {
    background: transparent;
    height: 0;
    width: 0;
}

.deleteActivity {
    float: right;
}

.liftDetails {
    font-size: 13px;
    vertical-align: middle;
}

.liftWorkout {
    margin-top: 25px;
}