.createPassword {
    border: 1px solid rgb(230, 227, 227);
    border-radius: 3px;
    height: 400px;
    margin: 20px auto;
    padding: 25px;
    width: 350px;
}

.createPasswordPage {
    border-bottom: 1px solid gray;
}

.passwordFormHeader {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
}

.formLabel {
    font-family: "Arial";
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    margin-top: 15px;
}

.formSubHeader {
    font-size: 13px;
}

.passwordLabel {
    font-size: 11px;
}

.passwordTip {
    font-size: 13px;
    list-style-type: disc;
    margin-left: 15px;
    text-align: left;
}

.passwordTips {
    margin: -5px auto;
    padding: 5px;
    width: 350px;
}

.passwordTipsTitle {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.255;
    padding-bottom: 8px;
}

.submitNewPasswordBtn {
    background: rgb(239, 195, 88);
    border: 1px solid rgb(131, 105, 41);
    border-radius: 2px;
    color: black;
    cursor: pointer;
    font-family: "Arial";
    font-size: 12px;
    height: 30px;
    margin-top: 20px;
    width: 100%;
}