.agree {
    background: rgb(138, 255, 138);
    border: 1px solid rgb(0, 168, 0);
    color: black;
}

.forgot {
    background: #fff;
    border: 1px solid rgb(230, 227, 227);
    border-radius: 3px;
    margin: 20px auto;
    min-height: 400px;
    padding: 25px;
    width: 350px;
}

.forgotPage {
    border-bottom: 1px solid gray;
}

.formLabel {
    font-family: "Arial";
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    margin-top: 15px;
}

.formSubHeader {
    font-size: 13px;
}

.fp-wide {
    width: 100%;
}

.lecture {
    font-size: 13px;
    margin-top: 15px;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

.pwordAssist {
    margin-top: 25px;
}

.submitEmailBtn {
    background: rgb(88, 209, 239);
    border: 1px solid rgb(41, 43, 131);
    border-radius: 2px;
    color: black;
    cursor: pointer;
    font-family: "Arial";
    font-size: 12px;
    height: 30px;
    margin-top: 20px;
    width: 100%;
}