.difficultyBar {
    margin: 0px auto;
    z-index: 1;
}

.equipIcon {
    margin-left: -4px;
    margin-top: 2px;
}

.equipList {
    white-space: normal;
    max-width: 500px;
}

.equipSubtitle {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 0px;
    /* text-align: center; */
}

.equipTitle {
    font-size: 18px;
    font-weight: 700;
    margin: 35px auto 0px auto;
    /* text-align: center; */
    width: 100%;
}

.generatorPage {
    padding: 25px 100px;
}

.selectEquipment {
    background: rgb(242, 242, 242);
    border: 1px solid darkgray;
    border-radius: 4px;
    float: right;
    height: 50px;
    /* margin: 5px 0px; */
    width: 58px;
    z-index: 101;
}

.selectEquipment:hover {
    background: rgb(220, 220, 220);
}

.selectEquipDiv {
    display: block;
    margin-bottom: 50px;
    width: 100%;
    z-index: 99;
}

@media only screen and (max-width: 768px) {
    .generatorPage {
        padding: 25px 0px !important;
    }

    .selectEquipment {
        position: absolute;
        right: 15px;
        top: 65px;
    }
}