.equipTitle {
    font-size: 18px;
    margin: 25px 0px 15px 0px;
}

.generatorPage {
    margin: 5px auto;
}

.selectEquipment {
    background: rgb(242, 242, 242);
    border: 1px solid darkgray;
    border-radius: 4px;
    float: right;
    height: 80px;
    margin: 5px 0px;
    width: 80px;
    z-index: 99;
}

.selectEquipment:hover {
    background: rgb(220, 220, 220);
}

@media only screen and (max-width: 768px) {
    .selectEquipment {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}