.baby {
    background: pink;
}

.easy {
    background: lightgreen;
}

.average {
    background: gold;
}

.superior {
    background: blue;
}

.hero {
    background: lightblue;
}

.superman {
    background: navy;
}

.rogan {
    background: gray;
}

.goggins {
    background: black;
    color: red;
}