.hofIcon {
    width: 15%;
}

.hofMetric {
    background: #fff;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    font-size: 22px;
    font-weight: 400;
    height: auto;
    margin: 5px;
    padding: 5px;
    vertical-align: middle;
}

.hofName {
    width: 25%;
}

.hofTitle {
    width: 35%;
}

.hofValue {
    text-align: right;
    width: 25%;
}

.trophyIcon {
    color: gold;
}

.restIcon {
    color: rgb(128, 179, 255);
}

.rulerIcon {
    color: #DEB887;
}

.mountainIcon {
    color: rgb(156, 46, 156);
}

.medalIcon {
    color: #C0C0C0;
}

.dragonIcon {
    color: rgb(185, 0, 0);
}
