.hallOfFame {
    max-width: 1000px;
}

.hofCol {
    width: 20%;
}

.hofContainer {
    background: rgb(114, 114, 114);
}

.hofDesc {
    font-size: 12px;
    /* overflow-x: scroll; */
    scrollbar-width: 0px;
    white-space: normal;
    width: 30%;
}

.hofDesc::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

.hofIcon {
    width: 10%;
}

.hofLogoImg {
    height: 175px;
}

.hofLogoDiv {
    margin-bottom: 45px;
    margin-top: 10px;
    text-align: center;
}

.hofMetric {
    background: #fff;
    border: 1px solid rgb(252, 252, 252);
    border-left: 0px;
    border-radius: 4px;
    border-right: 0px;
    display: flex;
    font-size: 18px;
    height: 75px;
    margin: 5px;
    padding-top: 15px;
    text-align: left;
    vertical-align: middle;
}

.hofTitle {
    font-weight: 700;
}

/* ICONS */

.faTrophy {
    color: gold;
}

.faBed {
    color: rgb(128, 179, 255);
}

.faRulerHorizontal {
    color: #DEB887;
}

.faMountain {
    color: rgb(156, 46, 156);
}

.faMedal {
    color: rgb(205, 127, 50);
}

.faDragon {
    color: rgb(185, 0, 0);
}

.faFlagCheckered {
    color: #000;
}

.faClock {
    color: rgb(36, 36, 36);
}

.faCloudShowersHeavy {
    color: rgb(150, 150, 150);
}

.faFish {
    color: rgb(31, 153, 31);
}

.faTShirt {
    color: rgb(241, 241, 0);
}

.faHotdog {
    color: rgb(255, 145, 0);
}

@media only screen and (max-width: 990px) {

    .hofCol {
        font-size: 15px;
    }

    .hofDesc {
        font-size: 12px;
        margin-left: 10px;
        overflow-x: scroll;
    }

    .hofName {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 520px) {
    .hofCol {
        width: 25%;
    }

    .hofDesc {
        display: none;
    }
    
    .hofMetric {
        font-size: 14px;
    }
}