.hallOfFame {
    max-width: 600px;
}

.hofContainer {
    background: rgb(114, 114, 114);
}

.hofHover {
    background: rgb(242, 242, 242);
    border-radius: 4px;
    display: inline-block;
    font-size: 13px;
    height: 150px;
    margin-left: -100px;
    margin-top: -11px;
    opacity: 0;
    padding: 10px;
    position: absolute;
    text-align: left;
    width: 200px;
}

.hofHover:hover {
    border: 1px solid rgb(114, 114, 114);
    opacity: 1;
}

.hofIcon {

}

.hofMetric {
    background: #fff;
    border: 1px solid rgb(252, 252, 252);
    border-radius: 4px;
    display: inline-block;
    height: 150px;
    margin: 5px;
    max-width: 200px;
    padding: 10px 20px;
    text-align: center;
    vertical-align: middle;
    width: 200px;
}

.hofName {
    font-size: 18px;
}

.hofTitle {
    font-size: 20px;
    font-weight: 700;
}

.hofValue {
    font-size: 12px;
}

.trophyIcon {
    color: gold;
}

.restIcon {
    color: rgb(128, 179, 255);
}

.rulerIcon {
    color: #DEB887;
}

.mountainIcon {
    color: rgb(156, 46, 156);
}

.silverMedalIcon {
    color: #C0C0C0;
}

.bronzeMedalIcon {
    color: rgb(205, 127, 50);
}

.dragonIcon {
    color: rgb(185, 0, 0);
}

.flagIcon {
    color: #000;
}

.clockIcon {
    color: #fff;
}

.mostWorkouts {
    background: lightyellow;
}

.mostRestDays {
    background: lightblue;
}

.longestRun {
    background: rgb(161, 118, 118);
}

.mostClimb {
    background: rgb(216, 189, 216);
}

.mostPushUps {
    background: rgb(222, 222, 222);
}

.mostPullUps {
    background: rgb(250, 223, 223);
}

.mostGoggins {
    background: black;
}

.mostRaces {
    background: rgb(190, 190, 190);
}

.mostTime {
    background: rgb(200, 200, 200);
}