.jumbotron {
    background: #fff;
}

.landingPage {
    background: #fff;
    height: 100vh;
}

.loginBtns {
    margin-top: 12px;
}

.sitePreview {
    text-align: center;
}

.videoDemo:hover {
    color: white;
    text-decoration: none;
}