.guestText {
    font-size: 11px;
}

.jumbotron {
    background: #fff;
}

.landingPage {
    background: #fff;
    height: 100vh;
}

.loginBtn {
    margin-top: 5px;
    width: 300px;
}

.loginBtns {
    margin-top: 12px;
}

.sitePreview {
    text-align: center;
}

.videoDemo:hover {
    color: white;
    text-decoration: none;
}