.myActivity {
    margin: 25px 0px;
}

.profileContainer {
    padding: 25px 100px;
}

@media only screen and (max-width: 990px) {
    .profileContainer {
        padding: 25px !important;
    }
}

@media only screen and (max-width: 768px) {
    .profileContainer {
        padding: 25px 5px !important;
    }
}