.addRepeatBtn {
    margin: 5px auto;
    text-align: center;
}

.input-group-text {
    width: 100px !important;
}

.grade, .milePace {
    border-bottom-right-radius: 3.2px;
    border-left: 0px;
    border-radius: 0px;
    border-top-right-radius: 3.2px;
    font-size: 12px;
    padding: 0px;
    padding-left: 35px;
}

textarea {
    height: 32px;
    min-height: 32px;
    max-height: 32px;
}

