.equipment {
    background: rgb(242, 242, 242);
    border: 1px solid rgba(61, 61, 61, .500);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: 100px;
    margin: 10px auto 0px auto;
    margin-right: 2px;
    padding: 25px;
    text-align: center;
    transition: 0.6s;
    width: 150px;
    vertical-align: middle;
}

.equipment:hover {
    border: 2px solid rgba(61, 61, 61);
}

.equip-true {
    background: rgb(157, 255, 214);
    box-shadow: 0px 0px 5px rgb(102, 224, 102);
}

@media only screen and (max-width: 375px) {
    .equipment {
        margin-right: 0px;
        width: 100% !important;
    }
}