.equipment {
    background: rgb(242, 242, 242);
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 5px 0px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.equip-true {
    background: rgb(63, 255, 63);
}