.equipment {
    background: rgb(242, 242, 242);
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 20px;
    text-align: center;
}

.equip-true {
    background: lightgreen;
}