.completeBtn {
    /* float: right; */
    margin: 5px auto;
    margin-bottom: 0px;
    width: 100%;
}

.submitWorkoutBtn {
    float: right;
}

.workout {
    color: black;
}

.workoutModalForm {
    margin-top: 35px;
}