.muscleGroup {
    color: black;
}

.muscleGroupDiv {
    background: rgb(242, 242, 242);
    border: 1px solid black;
    border-radius: 4px;
    display: inline-block;
    height: 25px;
    margin-right: 8px;
    width: 25px;
}

.muscleGroupText {
    display: inline-block;
    margin-top: -15px;
    vertical-align: middle;
}

.checked-true {
    background: rgb(157, 255, 214);
}