.muscleGroup {
    color: black;
}

.muscleGroupDiv {
    background: rgb(242, 242, 242);
    border: 1px solid black;
    display: inline-block;
    height: 15px;
    margin-right: 8px;
    width: 15px;
}

.muscleGroupText {
    display: inline-block;
    margin-top: -1px;
}

.checked-true {
    background: rgb(157, 255, 214);
}