.actCard {
    border: 0px;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.0;
    margin: 2px auto;
    max-height: 50px;
    width: 600px;
}

.cell {
    max-width: 120px !important;
    min-width: 120px !important;
    vertical-align: middle !important;
    width: 120px;
}

.icon {
    text-align: center !important;
    width: 25px !important;
}

.bikeIcon {
    background: rgb(255, 216, 116);
}

.liftIcon {
    background: rgb(255, 191, 191);
}

.runIcon {
    background: lightgreen;
}

.swimIcon {
    background: lightblue;
}

.runDetails {
    font-size: 13px;
    width: auto;
}