.card {
    cursor: pointer;
}

.card:hover {
    background: rgb(242, 242, 242);
}

.card-title {
    font-size: 15px;
}

.actCard {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin: 5px;
    max-height: 120px;
    width: 130px;
}