.actCard {
    border: 1px solid lightgray;
    cursor: pointer;
    font-size: 13px;
    height: 50px;
    line-height: 1.0;
    margin: 2px 0px;
    /* width: 600px; */
}

.actCard:hover {
    background: rgb(242, 242, 242);
}

.actNotes {
    border-right: 0px !important;
    min-width: 26% !important;
    max-width: 26% !important;
}

.cell {
    border-right: 1px solid lightgray;
    min-width: 10%;
    max-width: 10%;
    overflow: hidden;
    padding-left: 5px;
    padding-top: 15px;
    text-overflow: ellipsis;
    white-space: normal;
}

.cellDesc {
    font-size: 11px;
    height: 100%;
    margin: 0;
    margin-top: -15px;
    opacity: 0.3;
    padding: 0;
    padding-right: 5px;
    position: absolute;
    text-align: left;
}

.icon {
    text-align: center !important;
    width: 25px !important;
}

.bikeIcon, .liftIcon, 
.runIcon, .swimIcon {
    min-width: 45px !important;
    padding: 10px;
    width: 4%;
}

.bikeIcon {
    background: rgb(255, 216, 116);
}

.liftIcon {
    background: rgb(255, 191, 191);
}

.runIcon {
    background: lightgreen;
}

.swimIcon {
    background: lightblue;
}

.runDetails {
    font-size: 13px;
    width: auto;
}

@media only screen and (max-width: 990px) {
    .cell7 {
        border-right: 0px;
    }

    .cell8 {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .cell6 {
        border-right: 0px;
    }

    .cell7 {
        display: none;
    }
}

@media only screen and (max-width: 520px) {
    .cell {
        min-width: 22.5%;
        max-width: 22.5%;
    }

    .cell4 {
        border-right: 0px;
    }

    .cell5,
    .cell6 {
        display: none;
    }
}