.exReps {
    float: right;
}

.icon-true {
    color: green !important;
}

.icon-false {
    color: rgb(59, 59, 59) !important;
}

.setItem {
    color: black;
    display: flex;
    flex-direction: row;
}

.setIcon {
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    width: 50px;
}
