.actualReps {
    color: black;
}

.exName {
    padding-left: 2px;
    padding-right: 2px;
    width: 25%;
}

.exReps {
    text-align: center;
    width: 25%;
}

.icon-true {
    color: green !important;
}

.icon-false {
    color: rgb(59, 59, 59) !important;
}

.setIcon {
    cursor: pointer;
    display: inline-block;
    margin-left: 8px;
}

.setItem {
    color: black;
    display: flex;
    flex-direction: row;
}

.setItemIcons {
    padding-right: 2px;
    text-align: right;
    width: 33.3%;
}

@media only screen and (max-width: 768px) {
    .setItemIcons {
        padding-left: 0px;
    }
}