.footer {
    background: black;
    bottom: 0;
    color: white;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 200;
}