.liftDetail {
    font-size: 13px;
    width: 150px;
}

.liftDetailExercise {
    color: black;
    font-size: 13px;
}

.super-0 {
    background: rgb(242, 242, 242);
}

.super-1 {
    background: #fff;
}

@media only screen and (max-width: 520px) {
    .liftDetail {
        font-size: 12px;
    }

    .liftDetailExercise {
        font-size: 12px;
    }
}