.activityIcons {
    height: 50px;
    width: 100%;
}

.activityIcon {
    background: rgb(242, 242, 242);
    border: 1px solid darkgray;
    border-radius: 4px;
    float: right;
    height: 50px;
    margin: 0px 5px;
    margin-left: 0px;
    padding-left: 12px;
    padding-top: 12px;
    width: 50px;
}

.activityIcon:hover {
    color: black;
    text-decoration: none;
}

.activityIcon:first-child {
    margin-right: 0px;
}

.icon {
    height: 25px;
}

.bikeIcon:hover {
    background: rgb(255, 216, 116);
}

.liftIcon:hover {
    background: rgb(255, 191, 191);
}

.runIcon:hover {
    background: lightgreen;
}

.swimIcon:hover {
    background: lightblue;
}

@media only screen and (max-width: 768px) {
    .activityIcons {
        display: none;
    }
}