.followBtn {
    color: white;
    display: inline-block;
}

.user {
    background: lightgray;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    max-width: 300px;
    padding: 10px;
    width: auto;
}