.followBtn {
    color: white;
    display: inline-block;
}

.user {
    background: rgb(242, 242, 242);
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    display: inline-block;
    height: 150px;
    margin: 10px 5px;
    max-width: 150px;
    padding: 10px;
    padding-top: 55px;
    text-align: center;
    transition: 0.6s;
    width: 250px;
}

.user:hover {
    background: rgb(242, 242, 242);
}