.shoeBtn {
    border-radius: 0px !important;
    cursor: pointer;
    font-size: 13px;
    width: 50px;
}

.shoeData {
    background: #fff;
    border: 1px solid rgb(114, 114, 114);
    border-right: 0px;
    font-size: 13px;
    height: 50px;
    overflow-x: scroll;
    padding: 2px;
    text-align: center;
    width: 23.5%;
}

.shoeModal {
    min-height: 200px;
    min-width: 300px;
}

.shoe {
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
}

.shoeTitle {
    font-size: 11px;
    font-weight: 700;
}