.barChartContainer {
    background: #fff;
    border: 1px solid black;
    margin-top: 50px;
    overflow: scroll;
    padding: 10px;
}

.x-label {
    font-size: 12px;
}

.y-label {
    font-size: 12px;
}