.day {
    background: rgb(235, 237, 240);
    /* border: 1px solid rgb(65, 65, 65); */
    cursor: pointer;
    height: 15px;
    margin: 2px;
    width: 15px;
}

.day-bike {
    background: rgb(255, 216, 116);
}

.day-lift {
    background: rgb(255, 191, 191);
}

.day-multiple {
    background: rgb(220, 255, 220);
    border: 1px solid black;
}

.day-run {
    background: lightgreen;
}

.day-swim {
    background: lightblue;
}

.popup-content {
    font-size: 13px;
    line-height: 1.0;
    /* opacity: 0.95; */
}

.popup-overlay {
    background: #000;
    opacity: 0.25;
}

.popupData {
    white-space: normal;
}

.streakModal {
    width: 200px;
}