.day {
    background: rgb(242, 242, 242);
    border: 1px solid rgb(65, 65, 65);
    cursor: pointer;
    height: 20px;
    margin: 2px;
    width: 20px;
}

.day-bike {
    background: rgb(255, 216, 116);
}

.day-lift {
    background: rgb(255, 191, 191);
}

.day-run {
    background: lightgreen;
}

.day-swim {
    background: lightblue;
}

.streakModal {
    width: 200px;
}