.logoutBtn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    height: 30px;
    margin: 0;
    padding: 0.5rem;
}

.logoutBtn:hover {
    color: rgb(203, 204, 206);
}

.navbar {
    height: 55px;
}

.nav-item {
    /* margin-right: 10px; */
}

.nav-link {
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    white-space: nowrap;
    width: auto;
}

.nav-link:after {
    color: rgb(78, 78, 78);
    content: " | ";
    margin-left: 10px;
}

.navbar-nav {
    background: none;
    position: absolute;
    right: 200px;
    z-index: 100;
}

.navBackground, 
.navLogout {
    display: none;
}

.popup {
    background: white;
    z-index: 1000;
}

.popupBackground,
.popupLogout {
    cursor: pointer;
}

.popupBackground:hover,
.popupLogout:hover {
    color: rgb(203, 204, 206);
}

.settingsIcon {
    color: white;
    cursor: pointer;
    height: 20px;
    margin-left: 3px;
    margin-top: 7px;
}

@media only screen and (max-width: 990px) {
    .nav-link {
        padding: 0px 15px !important;
    }

    .nav-link:after {
        content: "";
    }

    .navbar-nav {
        right: 0px;
        z-index: 105;
    }

    .navBackground, 
    .navLogout {
        display: inline;
    }

    .popup {
        display: none;
    }

    .settingsIcon {
        display: none;
    }
}