.display-4 {
    border-bottom: 1px solid darkgray;
    padding-bottom: 10px;
}

.profileHeader {
    background: #fff;
    height: 150px;
    margin: 0;
    padding: 0;
    padding-top: 35px;
}
 
.shoesBtn {
    float: right;
}

@media only screen and (max-width: 520px) {
    .profileHeader {
        padding: 10px;
    }
}